name: Release Cryptor

# This triggers workflow on tag push
on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write  # Allow write access to repository contents

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Set up JDK 17 with Temurin
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Gradle
        uses: gradle/gradle-build-action@v3
        with:
          gradle-version: 8.5

      - name: Do wrapper
        run: gradle wrapper

      - name: Build JAR file with Gradle
        run: ./gradlew shadowJar

      - name: ls
        run: ls -al Cryptor/build/libs

      - name: sha256
        run: openssl sha256 Cryptor/build/libs/*

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Cryptor ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Upload x64 artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: Cryptor/build/libs/Cryptor-0.0.11-amd64-all.jar
          asset_name: Cryptor-0.0.11-amd64-all.jar
          asset_content_type: application/jar
